<!-- sections/collections-list-manual.liquid -->
{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'collection-item.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign image_fix = image_nt | image_tag
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign block_size = se_blocks.size
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign b_effect = se_stts.b_effect
  assign img_effect = se_stts.img_effect
  assign open_link = se_stts.open_link
  assign content_align = se_stts.content_align
  if se_stts.btn_owl == "outline"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif

  assign collec_layout = se_stts.collec_layout
  assign collection_des           = se_stts.collection_des
  if collec_layout == "4"
    assign limit = 4
  else
    assign limit = 5
  endif

  assign pri_cl_lightness         = se_stts.pri_cl | color_extract: 'lightness'
  assign pri_hover_cl_lightness   = se_stts.pri_hover_cl | color_extract: 'lightness'
  assign second_cl_lightness         = se_stts.second_cl | color_extract: 'lightness'
  assign second_hover_cl_lightness   = se_stts.second_hover_cl | color_extract: 'lightness'

  if pri_cl_lightness < 85   
    assign pri_cl_txt = "#ffffff"
  else 
    assign pri_cl_txt = "#010101"
  endif
  if pri_hover_cl_lightness < 85 
    assign pri_hover_cl_txt = "#ffffff"
  else 
    assign pri_hover_cl_txt = "#010101"
  endif
  if second_cl_lightness < 85 
    assign second_cl_txt = "#ffffff"
  else 
    assign second_cl_txt = "#010101"
  endif
  if second_hover_cl_lightness < 85 
    assign second_hover_cl_txt = "#ffffff"
  else 
    assign second_hover_cl_txt = "#010101"
  endif
 -%} 
<div data-ntajax-container data-ntajax-options='{"id": "{{ sid }}","isProduct": true,"view": ""}' class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %} {% render 'section_style', se_stts: se_stts -%} >
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{% endif %}>{% endif -%}
    {%- render 'section_tophead', se_stts: se_stts, get_height: true -%}
      {%- capture str_html -%}  
        {%- case collec_layout -%}
          {%- when "4" -%}
            {% liquid 
              assign space_item = 30
              assign space_item_tb = 15
              assign space_item_mb = 15
           %}
            ,4,4,12,450,634,450,634,450,500, | <div class="t4s-col-item t4s-col-12 t4s-col-md-4 t4s-col-lg-4"><div class="t4s-row t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}">,12,12,12,450,302,450,302,450,302, | ,12,12,12,450,302,450,302,380,255,</div></div> | ,4,4,12,450,634,450,634,450,500,
          {%- when "5" -%}
            {% liquid 
              assign space_item = 30
              assign space_item_tb = 15
              assign space_item_mb = 15
           %}
            <div class="t4s-col-item t4s-col-12 t4s-col-md-4 t4s-col-lg-4"><div class="t4s-row t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}">,12,12,6,450,328,330,240,330,240, | ,12,12,6,450,328,330,240,330,240,</div></div> | ,4,4,12,450,686,330,501,450,400, | <div class="t4s-col-item t4s-col-12 t4s-col-md-4 t4s-col-lg-4">
              <div class="t4s-row t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}">,12,12,6,450,328,330,240,330,240, | ,12,12,6,450,328,330,240,330,240,</div></div>
          {%- when "5-1" -%}
            {% liquid 
              assign space_item = 15
              assign space_item_tb = 15
              assign space_item_mb = 10
           %}
            <div class="t4s-col-item t4s-col-12 t4s-col-md-4 t4s-col-lg-4"><div class="t4s-row t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}">,12,12,12,495,510,330,340,330,340, | ,12,12,12,495,510,330,340,330,340,</div></div> | ,4,4,12,495,1030,330,691,767,500, | <div class="t4s-col-item t4s-col-12 t4s-col-md-4 t4s-col-lg-4">
              <div class="t4s-row t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}">,12,12,12,495,510,330,340,330,340, | ,12,12,12,495,510,330,340,330,340,</div></div>
          
        {%- endcase -%}
      {%- endcapture -%}
      {%- assign arr_html = str_html | split: ' | ' -%}

      <div class="t4s-list-manual-collections t4s-list-collections t4s-collec-layout-{{ collec_layout }} t4s-list-collections t4s-collection-des-{{ collection_des }} t4s-collection-pos-{{ se_stts.content_pos }} t4s_ratioadapt t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} t4s-row t4s-justify-content-center t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }} t4s-g-lg-{{ space_item }} t4s-g-md-{{ space_item_tb }} t4s-g-{{ space_item_mb }}" style="--pri-cl: {{ se_stts.pri_cl }};--pri-cl-txt: {{ pri_cl_txt }};--pri-hover-cl: {{ se_stts.pri_hover_cl }};--pri-hover-cl-txt: {{ pri_hover_cl_txt }};--second-cl: {{ se_stts.second_cl }};--second-cl-txt: {{ second_cl_txt }};--second-hover-cl: {{ se_stts.second_hover_cl }};--second-hover-cl-txt: {{ second_hover_cl_txt }};--badge-cl: {{ se_stts.badge_cl }};--badge-cl2: {{ se_stts.badge_cl2 }};--item-rd:{{ se_stts.item_rd }}%;--item-width: {{ se_stts.content_width }}px;--item-height: {{ se_stts.content_height }}px;--item-width-tb: {{ se_stts.content_width_tb }}px;--item-height-tb: {{ se_stts.content_height_tb }}px;--item-width-mb: {{ se_stts.content_width_mb }}px;--item-height-mb: {{ se_stts.content_height_mb }}px;--space-bottom: {{ se_stts.space_bottom }}px;--space-bottom-mb: {{ se_stts.space_bottom_mb }}px;--title-fs: {{ se_stts.title_fs }}px;--title-fw: {{ se_stts.title_fw }};">
        {%- assign stt = 0 -%}
        {% for block in se_blocks limit: limit %}
          {%- assign bk_stts = block.settings -%}
          {%- assign stt = stt | plus: 1 -%}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {%- render 'collection_item_manual', collection_des: collection_des, b_effect: b_effect, img_effect: img_effect, bk_stts: bk_stts, open_link: open_link, content_align: content_align, stt: stt, se_stts: se_stts, bk_stts: bk_stts, cur_html: arr_html[forloop.index0], open_link: open_link, index0: forloop.index0, current: current, space_item: space_item, space_item_tb: space_item_tb, space_item_mb: space_item_mb -%}
        {% endfor %}
    </div>
  {{- html_layout[1] -}}
  </div>
<style>
  @media (max-width:1024px) and (min-width: 768px) {
    .t4s_ratioadapt .t4s_ratio_hasmb::before, 
    .t4s_ratioadapt_f .t4s_ratio_hasmb::before {
        --t4s-aspect-ratio: calc(100% / (var(--aspect-ratioapttb)));
    }
  }
</style>
{% schema %}
  {
    "name": "Collections list manual",
    "tag": "section",
    "class": "t4s-section t4s-section-all t4s_tp_cdt t4s-layout-default t4s-collections-list-manual",
    "max_blocks": 5,
    "settings": [
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "select",
          "id": "design_heading",
          "label": "Heading design",
          "default": "1",
          "options": [
              {
                  "value": "1",
                  "label": "Design 01"
              },
              {
                  "value": "2",
                  "label": "Design 02"
              },
              {
                  "value": "3",
                  "label": "Design 03"
              },
              {
                  "value": "4",
                  "label": "Design 04 (Working when description has content)"
              },
              {
                  "value": "5",
                  "label": "Design 05"
              }
          ]
      },
      {
          "type": "checkbox",
          "id": "heading_center",
          "label": "Center align the heading",
          "default": true
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "Heading"
      },
      {
          "type": "richtext",
          "id": "top_subheading",
          "label": "Description"
      },
      {
          "type": "number",
          "id": "tophead_mb",
          "label": "Bottom space (Desktop)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 30
      },
      
      {
          "type": "number",
          "id": "tophead_mb_tb",
          "label": "Bottom space (Tablet)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 30
      },
      {
          "type": "number",
          "id": "tophead_mb_mb",
          "label": "Bottom space (Mobile)(px)",
          "info": "The spacing is between the heading and the content",
          "default": 25
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
        "type": "select",
        "id": "collection_des",
        "label": "Collection item design",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4"
          },
          {
            "value": "5",
            "label": "Design 5"
          },
          {
            "value": "6",
            "label": "Design 6"
          },
          {
            "value": "7",
            "label": "Design 7"
          },
          {
            "value": "8",
            "label": "Design 8"
          },
          {
            "value": "9",
            "label": "Design 9"
          },
          {
            "value": "10",
            "label": "Design 10"
          },
          {
            "value": "11",
            "label": "Design 11  (Only image)"
          }
        ]
      },
      {
          "type": "range",
          "id": "title_fs",
          "label": "Title font size",
          "max": 100,
          "min": 10,
          "step": 1,
          "unit": "px",
          "default": 22
      },
      {
          "type": "range",
          "id": "title_fw",
          "label": "Title font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
      },
      {
        "type": "color",
        "id": "pri_cl",
        "label": "Primary content color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "second_cl",
        "label": "Secondary content color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "pri_hover_cl",
        "label": "Primary content hover color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "second_hover_cl",
        "label": "Secondary content hover color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "badge_cl",
        "label": "Badge primary color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "badge_cl2",
        "label": "Badge secondary color",
        "default": "#ea0000"
      }, 
      {
        "type": "select",
        "id": "content_align",
        "label": "Content align",
        "default": "center",
        "options": [
            {
              "label": "Default",
              "value": "default"
            },
            {
              "label": "Center",
              "value": "center"
            }
        ]
      },
      {
        "type": "select",
        "id": "content_pos",
        "label": "Content position",
        "info": "Only works with designs have content on images",
        "default": "1",
        "options": [
            {
              "label": "Center center",
              "value": "1"
            },
            {
              "label": "Center bottom",
              "value": "2"
            }
        ]
      },
      {
        "type": "range",
        "id": "space_bottom",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Bottom space",
        "unit": "px",
        "default": 20,
        "info": "Space between image and content of collection. Not working with position 'center center'."
      },
      {
        "type": "range",
        "id": "space_bottom_mb",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Bottom space (Mobile)",
        "unit": "px",
        "default": 10,
        "info": "Not working with position 'center center'."
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 100,
        "max": 300,
        "step": 2,
        "label": "Content min width (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height",
        "min": 40,
        "max": 240,
        "step": 2,
        "label": "Content min height (px)",
        "unit": "px",
        "default": 60,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_width_tb",
        "min": 80,
        "max": 280,
        "step": 2,
        "label": "Content min width (Tablet) (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height_tb",
        "min": 30,
        "max": 230,
        "step": 2,
        "label": "Content min height (Tablet) (px)",
        "unit": "px",
        "default": 40,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_width_mb",
        "min": 60,
        "max": 260,
        "step": 2,
        "label": "Content min width (px)",
        "unit": "px",
        "default": 140,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "range",
        "id": "content_height_mb",
        "min": 20,
        "max": 220,
        "step": 2,
        "label": "Content min height (px)",
        "unit": "px",
        "default": 40,
        "info": "Only works with designs have content on images and have content in box"
      },
      {
        "type": "select",
        "id": "open_link",
        "info": "Works when the item has a link",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          },
         {
            "value": "_blank",
            "label": "New window"
          }
        ],
        "label": "Open link in",
        "default": "_self"
      },
      {
        "type": "header",
        "content": "+ Options image collection"
      },
      {
        "type": "range",
        "id": "item_rd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Image rounded",
        "unit": "%",
        "default": 0
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
        "info": "Waring: Hovering effect will resize your images. Only works on desktop",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom image"
          },
          {
            "value": "rotate",
            "label": "Rotate image "
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "Collection hover effect",
         "info": "Only works on desktop",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "border-run",
            "label": "Border run"
          },
          {
            "value": "pervasive-circle",
            "label": "Pervasive circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "Plus zoom overlay"
          },
          {
            "value": "dark-overlay",
            "label": "Dark overlay"
          },
          {
            "value": "light-overlay",
            "label": "Light overlay"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'. And not works when use 'Focal point' on image",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left top"
          },
          {
            "value": "2",
            "label": "Left center"
          },
          {
            "value": "3",
            "label": "Left bottom"
          },
          {
            "value": "4",
            "label": "Right top"
          },
          {
            "value": "5",
            "label": "Right center"
          },
          {
            "value": "6",
            "label": "Right bottom"
          },
          {
            "value": "7",
            "label": "Center top"
          },
          {
            "value": "8",
            "label": "Center center"
          },
          {
            "value": "9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "8"
      },
      {
        "type": "header",
        "content": "+ Collection box layout",
        "info": "Depends on the item collection"
      },
      {
        "type": "select",
        "id": "collec_layout",
        "label": "Select layout for group collection",
        "info": "Collection items list will be fetched from top to bottom. Redundant items will be removed depending on the selected layout",
        "default": "4",
        "options": [
          {
            "value": "4",
            "label": " 4 items"
          },
          {
            "value": "5",
            "label": "5 items"
          },
          {
            "value": "5-1",
            "label": "5 items + small space between items"
          }
        ]
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design tablet options"
      },
      {
          "type": "text",
          "id": "mg_tb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_tb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      }
    ],
    "blocks": [
      {
        "type": "collection_item",
        "name": "Collection item",
        "settings": [
          {
              "id": "collection",
              "type": "collection",
              "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Collection image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Collection label",
            "info" :"Leave empty to use 'Collection name'"
          },

          {
            "type": "text",
            "id": "collection_badge",
            "label": "Collection badge"
          },
          {
            "type": "url",
            "id": "collection_link",
            "label": "Link (optional)",
            "info" :"Leave empty to use 'collection url'"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Shop Now",
            "info": "Only use for collection design 3,5,6"
          },
          {
            "type": "image_picker",
            "id": "image_icon",
            "label": "Icon image",
            "info": "Only use for collection design 1,2,8"
          }
        ]
      }
    ],
  "presets": [
      {
        "name": "Collections list manual",
        "category": "Homepage",
        "blocks": [
          { "type": "collection_item"},
          { "type": "collection_item"},
          { "type": "collection_item"},
          { "type": "collection_item"}
        ]
      }
    ]
  }
{% endschema %}