{% comment %}
  ** Blank Friday Promo Banner **
{% endcomment %}
{% if section.settings.enable_black_friday_banner == true %}
  {%- liquid
  assign id = section.id
  
  assign bg_img = section.settings.bg_img
  assign scroll_img = section.settings.scroll_img

  assign top_heading = section.settings.top_heading
  assign highlight_text = section.settings.highlight_text
  assign top_heading_preset = section.settings.top_heading_preset

  assign m_top_heading = section.settings.m_top_heading
  assign m_highlight_text = section.settings.m_highlight_text
  assign m_top_heading_preset = section.settings.m_top_heading_preset
  
  assign text = section.settings.text
  assign text_preset = section.settings.text_preset

  assign content = section.settings.content
  assign content_preset = section.settings.content_preset

  assign m_content = section.settings.m_content
  assign m_content_preset = section.settings.m_content_preset
  
  assign button_label = section.settings.button_label
  assign link = section.settings.link
  
  assign m_button_label = section.settings.m_button_label
  assign m_link = section.settings.m_link
-%}

{% comment %}Spacing{% endcomment %}
{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  
  assign padding_top_m = section.settings.padding_top_m
  assign padding_bottom_m = section.settings.padding_bottom_m
  assign padding_left_m = section.settings.padding_left_m
  assign padding_right_m = section.settings.padding_right_m
  assign margin_top_m = section.settings.margin_top_m
  assign margin_bottom_m = section.settings.margin_bottom_m
-%}

{% comment %}Layout{% endcomment %}
{%- liquid
  assign width = section.settings.width
  assign section_bg = section.settings.section_bg
-%}


{% comment %}Advanced{% endcomment %}
{%- liquid
  assign css_class = section.settings.css_class
-%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    margin-top: {{ margin_top }}px;
    margin-bottom: {{ margin_bottom }}px;
    height: 594px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
    
  #shopify-section-{{ id }} .main--banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 594px;
    max-height: 594px; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    {% if bg_img != blank %}
      background: url('{{ bg_img | img_url: 'master' }}') no-repeat center center / cover;
    {% else %}
      background: {{ section_bg }};
    {% endif %}
  } 

  .main--banner .heading--wrapper h2 {
    font-size: {{ top_heading_preset }}px;
  }

  .main--banner .floating-text { 
    font-size: {{ text_preset }}px; 
  }

  .main--banner .content--wrapper p {
    font-size: {{ content_preset }}px;
  }

  /* Scroll Banner */
  #shopify-section-{{ id }} .sticky--banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.45s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 470;
    will-change: transform, opacity;
    {% if scroll_img != blank %}
      background: url('{{ scroll_img | img_url: 'master' }}') no-repeat center center / cover;
    {% endif %}
  }

  .show_sticky_banner #shopify-section-{{ id }} .sticky--banner {
    transform: translateY(0);
    opacity: 1;
  }

  .sticky--banner h2 {
    font-size: {{ m_top_heading_preset }}px;
  }

  .sticky--banner .content--wrapper p {
    font-size: {{ m_content_preset }}px;
  }
  
  @media screen and (max-width:798px){
    #shopify-section-{{ id }} {
      padding-top: {{ padding_top_m }}px;
      padding-bottom: {{ padding_bottom_m }}px;
      padding-left:{{ padding_left_m }}px;
      padding-right:{{ padding_right_m }}px;
      margin-top: {{ margin_top_m }}px;
      margin-bottom: {{ margin_bottom_m }}px;
    }
  }
{% endstyle %}

<link rel="preload" href="{{ 'black-friday-promo-banner.css' | asset_url }}" as="style">
<link rel="stylesheet" href="{{ 'black-friday-promo-banner.css' | asset_url }}">

{% comment %} HTML markup {% endcomment %}
<section class="sticky--banner is-width-{{ width }}">
  <div class="container">
    <div class="col-12 is-flex is-justify-between is-align-center">
      {% if m_top_heading != blank %}
        <div class="col-4">
          {% capture m_highlight_text %}
            <span class="formatted_text">{{ m_highlight_text }}</span>
          {% endcapture %}
          <h2>{{ m_top_heading | replace: '[[highlight]]', m_highlight_text }}</h2>
        </div>
      {% endif %}

      {% if m_content != blank %}
        <div class="col-4">
          <div class="content--wrapper">
            {{ m_content }}
          </div>
        </div>
      {% endif %}
      
      <div class="col-4 text-right">
        {% if m_button_label != blank and customer %}
          <a href="{{ m_link }}" class="button button--primary">
            {{ m_button_label }}
          </a>
        {% else %}
          <a href="/account/login" data-drawer-delay-="" data-drawer-options="{ &quot;id&quot;: &quot;#t4s-login-sidebar&quot; }" class="button button--primary .t4s-list-categories t4s-pr t4s-acc-txt">
            Login to shop
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="main--banner is-width-{{ width }} {{ css_class }}">
  <div class="image-1"></div>
  {% if text != blank %}
    <div class="floating-text">
      {{ text }}
    </div>
  {% endif %}
  <div class="image-2"></div>
  <div class="container">
    <div class="col-8">
      <div class="heading--wrapper">
        {% if top_heading != blank %}
          {% capture highlight_text %}
            <span class="formatted_text">{{ highlight_text }}</span>
          {% endcapture %}
          <h2>{{ top_heading | replace: '[[highlight]]', highlight_text }}</h2>
        {% endif %}
      </div>
    </div>
    <div class="col-4 text-center">
      {% if content != blank %}
        <div class="content--wrapper">
          {{ content }}
        </div>
      {% endif %}

      {% if button_label != blank and customer %}
        <a href="{{ link }}" class="button button--primary">
          {{ button_label }}
        </a>
      {% else %}
        <a href="/account/login" class="button button--primary .t4s-list-categories t4s-pr t4s-acc-txt" data-drawer-delay-="" data-drawer-options="{ &quot;id&quot;: &quot;#t4s-login-sidebar&quot; }">
          Login to shop
        </a>
      {% endif %}
    </div>
  </div>
</section>

<script data-theme-editor-load-script src="{{ 'black-friday-promo-banner.js' | asset_url }}" defer></script>
{% endif %}
{% schema %}
{
  "name": "Blank Friday Promo Banner",
  "class": "black-friday-promo-banner",
  "settings": [
     {
                "type": "checkbox",
                "id": "enable_black_friday_banner",
                "label": "Enable Promo Banner",
                "default": false
            },{
      "type": "header",
      "content": "Main Banner Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Scrolled Image"
    },
    {
      "type": "image_picker",
      "id": "scroll_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "top_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "highlight_text",
      "label": "Highlight Text"
    },
    {
      "type": "range",
      "id": "top_heading_preset",
      "label": "Heading Preset",
      "unit": "px",
      "step": 2,
      "min": 18,
      "max": 160,
      "default": 140
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "text_preset",
      "label": "Text Preset",
      "unit": "px",
      "step": 2,
      "min": 18,
      "max": 30,
      "default": 26
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "content_preset",
      "label": "Content Preset",
      "unit": "px",
      "step": 2,
      "min": 18,
      "max": 50,
      "default": 38
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Scroll Banner"
    },
    {
      "type": "text",
      "id": "m_top_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "m_highlight_text",
      "label": "Highlight Text"
    },
    {
      "type": "richtext",
      "id": "m_content",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "m_top_heading_preset",
      "label": "Heading Preset",
      "unit": "px",
      "step": 2,
      "min": 18,
      "max": 160,
      "default": 140
    },
    {
      "type": "range",
      "id": "m_content_preset",
      "label": "Content Preset",
      "unit": "px",
      "step": 1,
      "min": 18,
      "max": 50,
      "default": 38
    },
    {
      "type": "text",
      "id": "m_button_label",
      "label": "Button label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "m_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    }
  ]
}
{% endschema %}
