{% assign background_color = section.settings.background_color %}
{% assign text_color = section.settings.text_color %}

<style>
    .preloader-section {
        display:;
    }

    .preloader-section.active {
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        background: {{ background_color }};
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;
        animation-name: backgroundAnimation;
        animation-timing-function:ease-out;
        animation-duration: 1s;
        animation-delay: 7.5s;
        -webkit-animation-fill-mode: forwards;
    }

    .preloader-section.active .preloader-content {
        
    }

    .preloader-section.active .preloader-step-1 {
        width: 100%;
        text-align: center;
        color: {{ text_color }};
        font-family: Druk Wide;
        font-size: 50px;
        line-height:48px;
        opacity: 0;
        animation-name: titleAnimation;
        animation-timing-function:ease;
        animation-duration: 2.8s;
        animation-delay: 1.2s;
        -webkit-animation-fill-mode: forwards;
    }

    .preloader-section.active .preloader-step-2 {
        width: 100%;
        text-align: center;
        color: {{ text_color }};
        font-family: 'AeonikPro-regular';
        font-size: 24px;
        line-height:24px;
        transform: uppercase;
        opacity: 0;
        animation-name: subtitleAnimation;
        animation-timing-function:ease;
        animation-duration: 5s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        padding: 0 25px;
      margin-top:-95px;
    }

    @keyframes backgroundAnimation {
        0% {
            transform: none;
        }

        50% {
            opacity: 1;
            transform: translateY(-50%);
        }

        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    @keyframes titleAnimation {
        0% {
            opacity: 0;
            height: 0;
        }

        55% {
            opacity: 1;
            height: 100%;
        }

        70% {
            opacity: 1;
            height: 100%;
        }

        100% {
            opacity: 0;
            height: 0;
        }
    }

    @keyframes subtitleAnimation {
        0% {
            opacity: 0;
            transform: none;
        }

        50% {
            opacity: 1;
            transform: none;
        }

        70% {
            opacity: 1;
            transform: none;
        }

        90% {
            opacity: 0;
            transform: translateY(-100px);
        }

        100% {
            opacity: 0;
            transform: translateY(100px);
        }
    }
</style>

<div class="preloader-section">
    <div class="preloader-content">
        <div class="preloader-step-1">
            <span>{{ section.settings.title }}</span>
        </div>
        
        <div class="preloader-step-2">
            <span>{{ section.settings.subtitle }}</span>
        </div>
    </div>
</div>

<script type="text/javascript">
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    {% comment  remove when putting a cookie expiration and remove lines 153,154%} var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;{% endcomment %}
      var expires = (new Date(Date.now()+ 86400*1000)).toUTCString();
document.cookie = "cookieName=cookieValue; expires=" + expires + ";path=/;"
  }

  
  function cookie(){
    var x = getCookie("preloaded");

    if (x == "" || x == null) {
      setCookie("preloaded", "preloaded", 1);

      var preloaderSection = document.querySelector('.preloader-section');
      
      if (preloaderSection) {
        preloaderSection.classList.add('active');
      }
    } else if (x == "preloaded") {
      console.log("You came back!");
    }
  }
  cookie();
</script>

{% schema %}
    {
        "name": "Preloader",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "HAIR TO DIE FOR"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "For Stylists by Stylists"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#000000"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#ffffff"
            }
        ],
        "presets": [
            {
                "category": "Homepage",
                "name": "Preloader"
            }
        ]
    }
{% endschema %}
