{% if section.settings.enable_promo_banner == true %}
    {{ 'promo-banner.css' | asset_url | stylesheet_tag }}

    <style>
        .promo-banner-section,
        .promo-banner-expanded,
        .promo-banner-collapsed {
            background: {{ section.settings.background_color }};
        }

        .promo-banner-expanded-subheading {
            font-family: {{ section.settings.subheading_font.family }}, {{ section.settings.subheading_font.fallback_families }};
            font-weight: {{ section.settings.subheading_font_weight }};
            font-size: {{ section.settings.subheading_font_size }}px;
            color: {{ section.settings.subheading_color }};
        }

        .promo-banner-expanded-heading {
            font-family: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
            font-weight: {{ section.settings.heading_font_weight }};
            font-size: {{ section.settings.heading_font_size }}px;
            color: {{ section.settings.heading_color }};
        }

        .promo-banner-expanded-percentage_off_number {
            font-family: {{ section.settings.percentage_off_number_font.family }}, {{ section.settings.percentage_off_number_font.fallback_families }};
            font-weight: {{ section.settings.percentage_off_number_font_weight }};
            font-size: {{ section.settings.percentage_off_number_font_size }}px;
            color: {{ section.settings.percentage_off_number_color }};
        }

        .promo-banner-expanded-percentage_symbol {
            font-family: {{ section.settings.percentage_symbol_font.family }}, {{ section.settings.percentage_symbol_font.fallback_families }};
            font-weight: {{ section.settings.percentage_symbol_font_weight }};
            font-size: {{ section.settings.percentage_symbol_font_size }}px;
            color: {{ section.settings.percentage_symbol_color }};
        }

        .promo-banner-expanded-percentage_off_text {
            font-family: {{ section.settings.percentage_off_text_font.family }}, {{ section.settings.percentage_off_text_font.fallback_families }};
            font-weight: {{ section.settings.percentage_off_text_font_weight }};
            font-size: {{ section.settings.percentage_off_text_font_size }}px;
            color: {{ section.settings.percentage_off_text_color }};
        }

        .promo-banner-expanded-sale_product_text {
            font-family: {{ section.settings.sale_product_text_font.family }}, {{ section.settings.sale_product_text_font.fallback_families }};
            font-weight: {{ section.settings.sale_product_text_font_weight }};
            font-size: {{ section.settings.sale_product_text_font_size }}px;
            color: {{ section.settings.sale_product_text_color }};
        }

        .promo-banner-expanded-cta {
            font-family: {{ section.settings.cta_text_font.family }}, {{ section.settings.cta_text_font.fallback_families }};
            font-weight: {{ section.settings.cta_text_font_weight }};
            font-size: {{ section.settings.cta_text_font_size }}px;
            color: {{ section.settings.cta_text_color }};
            background: {{ section.settings.cta_background_color }};
        }

        .promo-banner-expanded-cta:hover {
            background: {{ section.settings.cta_hover_background_color }};
        }

        .promo-banner-expanded-sale_end_text {
            font-family: {{ section.settings.sale_end_text_font.family }}, {{ section.settings.sale_end_text_font.fallback_families }};
            font-weight: {{ section.settings.sale_end_text_font_weight }};
            font-size: {{ section.settings.sale_end_text_font_size }}px;
            color: {{ section.settings.sale_end_text_color }};
        }

        .promo-banner-collapsed-collapsed_section_text {
            font-family: {{ section.settings.collapsed_section_text_font.family }}, {{ section.settings.collapsed_section_text_font.fallback_families }};
            font-weight: {{ section.settings.collapsed_section_text_font_weight }};
            font-size: {{ section.settings.collapsed_section_text_font_size }}px;
            color: {{ section.settings.collapsed_section_text_color }};
        }

        .promo-banner-collapsed-collapsed_section_text b,
        .promo-banner-collapsed-collapsed_section_text strong {
            font-weight: {{ section.settings.collapsed_section_text_bold_font.family }}, {{ section.settings.collapsed_section_text_bold_font.fallbfamilymilies }};
            font-weight: {{ section.settings.collapsed_section_text_bold_font_weight }};
        }

        .promo-banner-collapsed-cta {
            font-family: {{ section.settings.cta_text_font.family }}, {{ section.settings.cta_text_font.fallback_families }};
            font-weight: {{ section.settings.cta_text_font_weight }};
            font-size: {{ section.settings.cta_text_font_size }}px;
            color: {{ section.settings.cta_text_color }};
            background: {{ section.settings.cta_background_color }};
        }

        .promo-banner-collapsed-cta:hover {
            background: {{ section.settings.cta_hover_background_color }};
        }

        @media (max-width: 1024px) {
            .promo-banner-expanded-subheading {
                font-size: {{ section.settings.subheading_font_size_mobile }}px;
            }

            .promo-banner-expanded-heading {
                font-size: {{ section.settings.heading_font_size_mobile }}px;
            }

            .promo-banner-expanded-percentage_off_number {
                font-size: {{ section.settings.percentage_off_number_font_size_mobile }}px;
            }

            .promo-banner-expanded-percentage_symbol {
                font-size: {{ section.settings.percentage_symbol_font_size_mobile }}px;
            }

            .promo-banner-expanded-percentage_off_text {
                font-size: {{ section.settings.percentage_off_text_font_size_mobile }}px;
            }

            .promo-banner-expanded-sale_product_text {
                font-size: {{ section.settings.sale_product_text_font_size_mobile }}px;
            }

            .promo-banner-expanded-cta {
                font-size: {{ section.settings.cta_text_font_size_mobile }}px;
            }

            .promo-banner-expanded-sale_end_text {
                font-size: {{ section.settings.sale_end_text_font_size_mobile }}px;
            }

            .promo-banner-collapsed-collapsed_section_text {
                font-size: {{ section.settings.collapsed_section_cta_text_font_size_mobile }}px;
            }
        }
    </style>

    <div class="promo-banner-section">
        <div class="promo-banner-inner">
            <div class="promo-banner-expanded">
                <div class="promo-banner-expanded-left">
                    {% if section.settings.subheading != blank %}
                        <div class="promo-banner-expanded-subheading">
                            {{ section.settings.subheading }}
                        </div>
                    {% endif %}

                    {% if section.settings.heading != blank %}
                        <div class="promo-banner-expanded-heading">
                            {{ section.settings.heading }}
                        </div>
                    {% endif %}
                </div>

                <div class="promo-banner-expanded-right">
                    <div class="promo-banner-expanded-percentage-off-block">
                        <div class="promo-banner-expanded-percentage-off-block-left">
                            {% if section.settings.percentage_off_number != blank %}
                                <div class="promo-banner-expanded-percentage_off_number">
                                    {{ section.settings.percentage_off_number }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="promo-banner-expanded-percentage-off-block-right">
                            {% if section.settings.percentage_symbol != blank %}
                                <div class="promo-banner-expanded-percentage_symbol">
                                    {{ section.settings.percentage_symbol }}
                                </div>
                            {% endif %}

                            {% if section.settings.percentage_off_text != blank %}
                                <div class="promo-banner-expanded-percentage_off_text">
                                    {{ section.settings.percentage_off_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if section.settings.sale_product_text != blank %}
                        <div class="promo-banner-expanded-sale_product_text">
                            {{ section.settings.sale_product_text }}
                        </div>
                    {% endif %}

                    {% if section.settings.cta_text != blank %}
                        <div class="promo-banner-expanded-cta_wrapper">
                            {% if section.settings.cta_link != blank %}
                                <a class="promo-banner-expanded-cta" href="{{ section.settings.cta_link }}">
                                    {{ section.settings.cta_text }}
                                </a>
                            {% else %}
                                <div class="promo-banner-expanded-cta">
                                    {{ section.settings.cta_text }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if section.settings.sale_end_text != blank %}
                        <div class="promo-banner-expanded-sale_end_text">
                            {{ section.settings.sale_end_text }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="promo-banner-collapsed">
                {% if section.settings.collapsed_section_text != blank %}
                    <div class="promo-banner-collapsed-collapsed_section_text">
                        {{ section.settings.collapsed_section_text }}
                    </div>
                {% endif %}
            
                {% if section.settings.cta_text != blank %}
                    <div class="promo-banner-collapsed-cta_wrapper">
                        {% if section.settings.cta_link != blank %}
                            <a class="promo-banner-collapsed-cta" href="{{ section.settings.cta_link }}">
                                {{ section.settings.cta_text }}
                            </a>
                        {% else %}
                            <div class="promo-banner-collapsed-cta">
                                {{ section.settings.cta_text }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {{ 'promo-banner.js' | asset_url | script_tag }}
{% endif %}

{% schema %}
    {
        "name": "Promo Banner",
        "settings": [
            {
                "type": "checkbox",
                "id": "enable_promo_banner",
                "label": "Enable Promo Banner",
                "default": false
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#0fd46c"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "default": "MEMORIAL DAY"
            },
            {
                "type": "color",
                "id": "subheading_color",
                "label": "Subheading Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "subheading_font",
                "label": "Subheading Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "subheading_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Subheading Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "subheading_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Subheading Font Size",
                "default": 54
            },
            {
                "type": "range",
                "id": "subheading_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Subheading Font Size Mobile",
                "default": 32
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "SALE"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "heading_font",
                "label": "Heading Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "heading_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Heading Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "heading_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Heading Font Size",
                "default": 172
            },
            {
                "type": "range",
                "id": "heading_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Heading Font Size Mobile",
                "default": 90
            },
            {
                "type": "text",
                "id": "percentage_off_number",
                "label": "Percentage Off Number",
                "default": "70"
            },
            {
                "type": "color",
                "id": "percentage_off_number_color",
                "label": "Percentage Off Number Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "percentage_off_number_font",
                "label": "Percentage Off Number Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "percentage_off_number_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Percentage Off Number Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "percentage_off_number_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Off Number Font Size",
                "default": 160
            },
            {
                "type": "range",
                "id": "percentage_off_number_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Off Number Font Size Mobile",
                "default": 160
            },
            {
                "type": "text",
                "id": "percentage_symbol",
                "label": "Percentage Symbol",
                "default": "%"
            },
            {
                "type": "color",
                "id": "percentage_symbol_color",
                "label": "Percentage Symbol Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "percentage_symbol_font",
                "label": "Percentage Symbol Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "percentage_symbol_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Percentage Symbol Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "percentage_symbol_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Symbol Font Size",
                "default": 80
            },
            {
                "type": "range",
                "id": "percentage_symbol_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Symbol Font Size Mobile",
                "default": 80
            },
            {
                "type": "text",
                "id": "percentage_off_text",
                "label": "Percentage Off Text",
                "default": "off"
            },
            {
                "type": "color",
                "id": "percentage_off_text_color",
                "label": "Percentage Off Text Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "percentage_off_text_font",
                "label": "Percentage Off Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "percentage_off_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Percentage Off Text Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "percentage_off_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Off Text Font Size",
                "default": 48
            },
            {
                "type": "range",
                "id": "percentage_off_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Percentage Off Text Font Size Mobile",
                "default": 48
            },
            {
                "type": "text",
                "id": "sale_product_text",
                "label": "Sale Product Text",
                "default": "QuickBooks for 3 months*"
            },
            {
                "type": "color",
                "id": "sale_product_text_color",
                "label": "Sale Product Text Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "sale_product_text_text_font",
                "label": "Sale Product Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "sale_product_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Sale Product Text Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "sale_product_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Sale Product Text Font Size",
                "default": 24
            },
            {
                "type": "range",
                "id": "sale_product_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Sale Product Text Font Size Mobile",
                "default": 24
            },
            {
                "type": "text",
                "id": "cta_text",
                "label": "CTA Text",
                "default": "Buy now"
            },
            {
                "type": "url",
                "id": "cta_link",
                "label": "CTA Link"
            },
            {
                "type": "color",
                "id": "cta_text_color",
                "label": "CTA Text Color",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "cta_background_color",
                "label": "CTA Background Color",
                "default": "#0d333f"
            },
            {
                "type": "color",
                "id": "cta_hover_background_color",
                "label": "CTA Hover Background Color",
                "default": "#09222a"
            },
            {
                "type": "font_picker",
                "id": "cta_text_font",
                "label": "CTA Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "cta_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "CTA Text Font Weight",
                "default": 600
            },
            {
                "type": "range",
                "id": "cta_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA Text Font Size",
                "default": 16
            },
            {
                "type": "range",
                "id": "cta_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "range",
                "id": "collapsed_section_cta_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Collapsed Section CTA Text Font Size Mobile",
                "default": 14
            },
            {
                "type": "text",
                "id": "sale_end_text",
                "label": "Sale End Text",
                "default": "Ends May 30"
            },
            {
                "type": "color",
                "id": "sale_end_text_color",
                "label": "Sale End Text Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "sale_end_text_font",
                "label": "Sale End Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "sale_end_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Sale End Text Font Weight",
                "default": 900
            },
            {
                "type": "range",
                "id": "sale_end_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Sale End Text Font Size",
                "default": 20
            },
            {
                "type": "range",
                "id": "sale_end_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Sale End Text Font Size Mobile",
                "default": 20
            },
            {
                "type": "richtext",
                "id": "collapsed_section_text",
                "label": "Collapsed Section Text",
                "default": "<p>MEMORIAL DAY SALE <b>70% OFF</b> QuickBooks for 3 months*  Ends May 30</p>"
            },
            {
                "type": "color",
                "id": "collapsed_section_text_color",
                "label": "Collapsed Section Text Color",
                "default": "#0d333f"
            },
            {
                "type": "font_picker",
                "id": "collapsed_section_text_font",
                "label": "Collapsed Section Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Collapsed Section Text Font Weight",
                "default": 700
            },
            {
                "type": "range",
                "id": "collapsed_section_text_bold_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Collapsed Section Text Bold Font Weight",
                "default": 800
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Collapsed Section Text Font Size",
                "default": 20
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Collapsed Section Text Font Size Mobile",
                "default": 16
            }
        ],
        "presets": [
            {
                "category": "Promo",
                "name": "Promo Banner"
            }
        ]
    }
{% endschema %}
