[t4splitlz]
{%- liquid
assign product         = product_variant.product
assign image           = product_variant.featured_image | default: product.featured_image | default: settings.placeholder_img
assign variant_options = product_variant.options
assign formId          = 'ContactFormNotify' | append: product_variant.id
 -%}
   <style>
   #t4s-pr-popup__notify-stock {
        max-width:563px;
   }
   .t4s-product-notify-stock__svg{
        color: var(--secondary-color);
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }
    .t4s-product-notify-stock__svg svg{
        width: 37px;
        height: auto;
    }
   #t4s-pr-popup__notify-stock h3 {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 400;
    }
    #t4s-pr-popup__notify-stock form>p {
        margin-bottom: 26px;
    }
    #t4s-pr-popup__notify-stock form>p>input {
        width: 100%;
        height: 49px;
        line-height: 28px;
        font-size: 13px;
        font-weight: 400;
        border-color: rgba(var(--border-color-rgb),.85);
        border-radius: var(--other-radius);
    }
    #t4s-pr-popup__notify-stock form>p>textarea {
        width: 100%;
        overflow: auto;
        padding: 10px 15px;
        min-height: 190px;
        line-height: 18px;
        border-radius: var(--other-radius);
    }
    #t4s-pr-popup__notify-stock {
        padding: 0;
    }
    #t4s-pr-popup__notify-stock form {
        padding: 20px 24px 37px;
    }
    .t4s-product-notify-stock {
        padding: 24px 26px 21px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: 1px solid rgba(var(--border-color-rgb),.85);
    }
    .t4s-product-notify-stock__img { 
        width: 106px;
        height: auto;
        min-width: 106px;
        overflow: hidden;
        display: block;
        position: relative;
        margin-right: 20px;
        aspect-ratio: 1/1;
    }
    .t4s-product-notify-stock__img img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .t4s-product-notify-stock__title {
      font-size: 14px;
        color: var(--secondary-color);
        font-weight: 400;
        font-family: Druk Wide;
    }
    .t4s-product-notify-stock__price {
        color: var(--secondary-price-color);
    }
    .t4s-product-notify-stock__price ins{
        color: var(--primary-price-color);
    }
    #t4s-pr-popup__notify-stock input.button {
        background-color: var(--t4s-dark-color);
        color: var(--t4s-light-color);
        border-radius: var(--btn-radius);
        min-width: 271px;
        min-height: 47px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    #t4s-pr-popup__notify-stock input.button:hover {
       background-color: var(--accent-color-darken);
    }
    .t4s-product-notify-stock__variant {margin-bottom: 2px;}
    </style>  
  {%- assign formId = 'ContactFormNotifyStock' | append: product_variant.id -%}

   <div class="t4s-product-notify-stock">
       {%- if image != blank -%}
       <div class="t4s-product-notify-stock__img t4s-bg-11" style="background: url({{ image | image_url: width: 1 }})">
          <img class="lazyloadt4s t4s-lz--fadeIn" data-src="{{ image | image_url: width: 1 }}" data-widths="[80,120,160,200]" data-optimumx="1.2" data-sizes="auto" src="{% render 'img_svg', w: image.width, h: image.height %}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
       </div>
       {%- endif -%}
       <div class="t4s-product-notify-stock__infos t4s-text-start">
         <div class="t4s-product-notify-stock__title">{{ product.title | escape }}</div>
         {%- unless product.has_only_default_variant -%}
          <p class="t4s-product-notify-stock__variant">
            {%- for product_option in product.options_with_values -%}
              {{ product_option.name | escape }}:&nbsp;<span class="t4s-csecondary">{{ variant_options[forloop.index0] | escape }}</span>
              {%- unless forloop.last -%},&nbsp;{%- endunless forloop.last -%}
            {%- endfor -%}
          </p>
         {%- endunless -%}
         <div class="t4s-product-notify-stock__price">{%- if product_variant.compare_at_price > product_variant.price -%} <del>{{ product_variant.compare_at_price | money }}</del> <ins>{{ product_variant.price | money }}</ins>{%- else -%}{{ product_variant.price | money }}{%- endif -%}</div>
       </div>
   </div>

  {%- form 'contact', id: formId -%}

    {%- render 'form-status', form: form, form_id: formId -%}
    <div class="t4s-product-notify-stock__svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="m22.5 10.5c-.276 0-.5-.224-.5-.5 0-2.938-1.144-5.701-3.222-7.778-.195-.195-.195-.512 0-.707s.512-.195.707 0c2.267 2.266 3.515 5.279 3.515 8.485 0 .276-.224.5-.5.5z" fill="currentColor"/>
            <path d="m1.5 10.5c-.276 0-.5-.224-.5-.5 0-3.206 1.248-6.219 3.515-8.485.195-.195.512-.195.707 0s.195.512 0 .707c-2.078 2.077-3.222 4.84-3.222 7.778 0 .276-.224.5-.5.5z" fill="currentColor"/>
            <path d="m13.5 4.18c-.276 0-.5-.224-.5-.5v-1.68c0-.551-.449-1-1-1s-1 .449-1 1v1.68c0 .276-.224.5-.5.5s-.5-.223-.5-.5v-1.68c0-1.103.897-2 2-2s2 .897 2 2v1.68c0 .277-.224.5-.5.5z" fill="currentColor"/>
            <path d="m12 24c-1.93 0-3.5-1.57-3.5-3.5 0-.276.224-.5.5-.5s.5.224.5.5c0 1.378 1.122 2.5 2.5 2.5s2.5-1.122 2.5-2.5c0-.276.224-.5.5-.5s.5.224.5.5c0 1.93-1.57 3.5-3.5 3.5z" fill="currentColor" />
            <path d="m20.5 21h-17c-.827 0-1.5-.673-1.5-1.5 0-.439.191-.854.525-1.14 1.576-1.332 2.475-3.27 2.475-5.322v-3.038c0-3.86 3.14-7 7-7 3.86 0 7 3.14 7 7v3.038c0 2.053.899 3.99 2.467 5.315.342.293.533.708.533 1.147 0 .827-.672 1.5-1.5 1.5zm-8.5-17c-3.309 0-6 2.691-6 6v3.038c0 2.348-1.028 4.563-2.821 6.079-.115.098-.179.237-.179.383 0 .276.224.5.5.5h17c.276 0 .5-.224.5-.5 0-.146-.064-.285-.175-.38-1.796-1.519-2.825-3.735-2.825-6.082v-3.038c0-3.309-2.691-6-6-6z" fill="currentColor"/>
        </svg>
    </div>
    <h3 class="t4s-text-center">{{ 'products.notify_stock.title' | t }}</h3>
    {%- if customer and customer.name != blank -%}
    <p class="t4s-d-none">
        <label for="{{ formId }}-name">Name</label>
        <input type="text" id="{{ formId }}-name" name="contact[name]" required="required" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    </p>
    {%- endif -%}
    <p>
        <input
          type="email"
          id="{{ formId }}-email"
          name="contact[email]"
          autocorrect="off"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          required="required"
          placeholder="{{ 'products.notify_stock.email' | t }}"
          {%- if form.errors contains 'email' %} class="input--error" aria-invalid="true" aria-describedby="{{ formId }}-email-error"{%- endif -%}>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message"><i class="facl facl-attention cr mr__5"></i>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        {%- endif -%}
     </p>
    
    <p class="t4s-d-none">
       <label for="{{ formId }}-product">Product</label> 
       <textarea rows="20" id="{{ formId }}-product" name="contact[product]" required="required">{{ product.title }} {% if product_variant.title != blank %}( {{ product_variant.title }} ){% endif %} - {{ request.origin }}{{ product_variant.url }}</textarea>
    </p>
    <p class="t4s-d-none">
       <label for="{{ formId }}-message">Message</label>
       <textarea rows="9" id="{{ formId }}-message" name="contact[body]" required="required">{{ 'products.notify_stock.please' | t }}</textarea>
    </p>
    <div class="t4s-product-notify-stock__submit t4s-text-center">
      <input type="submit" class="button" value="{{ 'products.notify_stock.button' | t }}">
    </div>

  {%- endform -%}
[t4splitlz]

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
