{% if section.settings.enable_promo_banner == true %}
    {{ 'promo-banner-2.css' | asset_url | stylesheet_tag }}

    <style>
        .promo-banner-2-section,
        .promo-banner-2-expanded,
        .promo-banner-2-collapsed {
            background: {{ section.settings.background_color }};
        }

        .promo-banner-2-section p {
            margin: 0;
        }

        .promo-banner-2-section b,
        .promo-banner-2-section strong {
            font-weight: {{ section.settings.bold_font_weight }};
        }

        .promo-banner-2-expanded-coming-soon-text {
            margin-bottom: {{ section.settings.coming_soon_text_margin_bottom_desktop }};
            order: {{ section.settings.coming_soon_text_order_desktop }};
        }

        .promo-banner-2-expanded-coming-soon-text p {
            font-family: {{ section.settings.coming_soon_text_font.family }}, {{ section.settings.coming_soon_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.coming_soon_text_font_weight }};
            font-size: {{ section.settings.coming_soon_text_font_size }}px;
            color: {{ section.settings.coming_soon_text_color }};
        }

        .promo-banner-2-expanded-promo-text {
            margin-bottom: {{ section.settings.promo_text_margin_bottom_desktop }};
            order: {{ section.settings.promo_text_order_desktop }};
        }

        .promo-banner-2-expanded-promo-text p {
            font-family: {{ section.settings.promo_text_font.family }}, {{ section.settings.promo_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.promo_text_font_weight }};
            font-size: {{ section.settings.promo_text_font_size }}px;
            color: {{ section.settings.promo_text_color }};
        }

        .promo-banner-2-expanded-cta-wrapper {
            margin-bottom: {{ section.settings.cta_block_margin_bottom_desktop }};
            order: {{ section.settings.cta_block_order_desktop }};
        }

        .promo-banner-2-expanded-cta-1 {
            background: {{ section.settings.cta_1_background_color }};
        }

        .promo-banner-2-expanded-cta-1 p {
            font-family: {{ section.settings.cta_1_text_font.family }}, {{ section.settings.cta_1_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.cta_1_text_font_weight }};
            font-size: {{ section.settings.cta_1_text_font_size }}px;
            color: {{ section.settings.cta_1_text_color }};
        }

        .promo-banner-2-expanded-cta-1:hover {
            background: {{ section.settings.cta_1_hover_background_color }};
        }

        .promo-banner-2-expanded-cta-2 {
            background: {{ section.settings.cta_2_background_color }};
        }

        .promo-banner-2-expanded-cta-2 p {
            font-family: {{ section.settings.cta_2_text_font.family }}, {{ section.settings.cta_2_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.cta_2_text_font_weight }};
            font-size: {{ section.settings.cta_2_text_font_size }}px;
            color: {{ section.settings.cta_2_text_color }};
        }

        .promo-banner-2-expanded-cta-2:hover {
            background: {{ section.settings.cta_2_hover_background_color }};
        }

        .promo-banner-2-collapsed-collapsed_section_text p {
            font-family: {{ section.settings.collapsed_section_text_font.family }}, {{ section.settings.collapsed_section_text_font.fallback_families }};
            font-weight: {{ section.settings.collapsed_section_text_font_weight }};
            font-size: {{ section.settings.collapsed_section_text_font_size }}px;
            color: {{ section.settings.collapsed_section_text_color }};
        }

        .promo-banner-2-collapsed-cta-1 {
            background: {{ section.settings.cta_1_background_color }};
        }

        .promo-banner-2-collapsed-cta-1 p {
            font-family: {{ section.settings.cta_1_text_font.family }}, {{ section.settings.cta_1_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.cta_1_text_font_weight }};
            font-size: {{ section.settings.cta_1_text_font_size_mobile }}px;
            color: {{ section.settings.cta_1_text_color }};
        }

        .promo-banner-2-collapsed-cta-1:hover {
            background: {{ section.settings.cta_1_hover_background_color }};
        }

        .promo-banner-2-collapsed-cta-2 {
            background: {{ section.settings.cta_2_background_color }};
        }

        .promo-banner-2-collapsed-cta-2 p {
            font-family: {{ section.settings.cta_2_text_font.family }}, {{ section.settings.cta_2_text_font.fallback_families }} !important;
            font-weight: {{ section.settings.cta_2_text_font_weight }};
            font-size: {{ section.settings.cta_2_text_font_size_mobile }}px;
            color: {{ section.settings.cta_2_text_color }};
        }

        .promo-banner-2-collapsed-cta-2:hover {
            background: {{ section.settings.cta_2_hover_background_color }};
        }

        @media (max-width: 1024px) {
            .promo-banner-2-expanded-coming-soon-text {
                margin-bottom: {{ section.settings.coming_soon_text_margin_bottom_mobile }};
                order: {{ section.settings.coming_soon_text_order_mobile }};
            }

            .promo-banner-2-expanded-coming-soon-text p {
                font-size: {{ section.settings.coming_soon_text_font_size_mobile }}px;
            }

            .promo-banner-2-expanded-promo-text {
                margin-bottom: {{ section.settings.promo_text_margin_bottom_mobile }};
                order: {{ section.settings.promo_text_order_mobile }};
            }

            .promo-banner-2-expanded-promo-text p {
                font-size: {{ section.settings.promo_text_font_size_mobile }}px;
            }

            .promo-banner-2-expanded-cta-wrapper {
                margin-bottom: {{ section.settings.cta_block_margin_bottom_mobile }};
                order: {{ section.settings.cta_block_order_mobile }};
            }

            .promo-banner-2-expanded-cta {
                font-size: {{ section.settings.cta_text_font_size_mobile }}px;
            }

            .promo-banner-2-collapsed-collapsed_section_text {
                font-size: {{ section.settings.collapsed_section_cta_text_font_size_mobile }}px;
            }
        }
    </style>

    <div class="promo-banner-2-section">
        <div class="promo-banner-2-inner">
            <div class="promo-banner-2-expanded">
                <div class="promo-banner-2-expanded-left">
                    {% if section.settings.logo_expanded != blank %}
                        <div class="promo-banner-2-expanded-logo-expanded">
                            <img src="{{ section.settings.logo_expanded | img_url: 'master' }}" />
                        </div>
                    {% endif %}

                    {% if section.settings.logo_expanded_mobile != blank %}
                        <div class="promo-banner-2-expanded-logo-expanded-mobile">
                            <img src="{{ section.settings.logo_expanded_mobile | img_url: 'master' }}" />
                        </div>
                    {% endif %}
                </div>

                <div class="promo-banner-2-expanded-right">
                    {% if section.settings.coming_soon_text != blank %}
                        <div class="promo-banner-2-expanded-coming-soon-text">
                            {{ section.settings.coming_soon_text }}
                        </div>
                    {% endif %}

                    {% if section.settings.promo_text != blank %}
                        <div class="promo-banner-2-expanded-promo-text">
                            {{ section.settings.promo_text }}
                        </div>
                    {% endif %}

                    {% if section.settings.cta_1_text != blank or section.settings.cta_2_text != blank %}
                        <div class="promo-banner-2-expanded-cta-wrapper">
                            {% if section.settings.cta_1_text != blank %}
                                {% if section.settings.cta_1_link != blank %}
                                    <a class"" href="https://dropdeadextensions.com/pages/deaducation-live-phoenix">
                                      <div class="promo-banner-2-expanded-cta promo-banner-2-expanded-cta-1">
                                        {{ section.settings.cta_1_text }}
                                    </div>
                                  
                                    </a>
                                {% else %}
                                    <div class="promo-banner-2-expanded-cta promo-banner-2-expanded-cta-1">
                                        {{ section.settings.cta_1_text }}
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if section.settings.cta_2_text != blank %}
                                {% if section.settings.cta_2_link != blank %}
                                    {% comment if you want to link to the login popup %}<a class="t4s-pr" data-drawer-delay-="" data-drawer-options='{ "id": "#t4s-login-sidebar" }' href="{{ section.settings.cta_2_link }}"><div class="promo-banner-2-expanded-cta promo-banner-2-expanded-cta-2">{% endcomment %}
                                  <a class="t4s-pr" href="https://dropdeadextensions.com/pages/deadfest"><div class="promo-banner-2-expanded-cta promo-banner-2-expanded-cta-2">
                                        {{ section.settings.cta_2_text }}
                                    </div>
                                        
                                    </a>
                                {% else %}
                                    <div class="promo-banner-2-expanded-cta promo-banner-2-expanded-cta-2">
                                        {{ section.settings.cta_2_text }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="promo-banner-2-collapsed">
                <div class="promo-banner-2-collapsed-left">
                    {% if section.settings.logo_collapsed != blank %}
                        <div class="promo-banner-2-collapsed-logo-collapsed">
                            <img src="{{ section.settings.logo_collapsed | img_url: 'master' }}" />
                        </div>
                    {% endif %}

                    {% if section.settings.logo_collapsed_mobile != blank %}
                        <div class="promo-banner-2-collapsed-logo-collapsed-mobile">
                            <img src="{{ section.settings.logo_collapsed_mobile | img_url: 'master' }}" />
                        </div>
                    {% endif %}
                </div>

                {% if section.settings.collapsed_section_text != blank %}
                    <div class="promo-banner-2-collapsed-collapsed_section_text">
                        {{ section.settings.collapsed_section_text }}
                    </div>
                {% endif %}
            
                {% if section.settings.cta_1_text != blank or section.settings.cta_2_text != blank %} 
                    <div class="promo-banner-2-collapsed-cta-wrapper">
                        
                             {% comment %} <a href="{{ section.settings.cta_1_link }}">{% endcomment %}
                   <a href="https://dropdeadextensions.com/pages/deaducation-live-phoenix">
                                <div class="promo-banner-2-collapsed-cta promo-banner-2-collapsed-cta-1">
                                   {{ section.settings.cta_1_text }}
                                </div>
                              </a>
                      
                        {% if section.settings.cta_2_text != blank %}
                            {% if section.settings.cta_2_link != blank %}
                                 {% comment if you want to link to the login popup %}<a class="" data-drawer-delay-="" data-drawer-options='{ "id": "#t4s-login-sidebar" }' data-login-sidebar="create" href="{{ section.settings.cta_2_link }}">{% endcomment %}
                              <a class="" href="https://dropdeadextensions.com/pages/deaducation-live-phoenix">
                                    <div class="promo-banner-2-collapsed-cta promo-banner-2-collapsed-cta-2">
                                   {{ section.settings.cta_2_text }}
                                </div>
                                </a>
                            {% else %}
                                <div class="promo-banner-2-collapsed-cta promo-banner-2-collapsed-cta-2">
                                    {{ section.settings.cta_2_text }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {{ 'promo-banner-2.js' | asset_url | script_tag }}
{% endif %}

{% schema %}
    {
        "name": "Promo Banner 2",
        "settings": [
            {
                "type": "checkbox",
                "id": "enable_promo_banner",
                "label": "Enable Promo Banner",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "logo_expanded",
                "label": "Logo (Expanded)"
            },
            {
                "type": "image_picker",
                "id": "logo_collapsed",
                "label": "Logo (Collapsed)"
            },
            {
                "type": "image_picker",
                "id": "logo_expanded_mobile",
                "label": "Logo (Expanded Mobile)"
            },
            {
                "type": "image_picker",
                "id": "logo_collapsed_mobile",
                "label": "Logo (Collapsed Mobile)"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#000000"
            },
            {
                "type": "richtext",
                "id": "coming_soon_text",
                "label": "Coming Soon Text",
                "default": "<p><b>COMING SOON</b> TO A SALON NEAR YOU.</p>"
            },
            {
                "type": "color",
                "id": "coming_soon_text_color",
                "label": "Coming Soon Text Color",
                "default": "#ffffff"
            },
            {
                "type": "font_picker",
                "id": "coming_soon_text_font",
                "label": "Coming Soon Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "coming_soon_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Coming Soon Text Font Weight",
                "default": 400
            },
            {
                "type": "range",
                "id": "coming_soon_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Coming Soon Text Font Size",
                "default": 24
            },
            {
                "type": "range",
                "id": "coming_soon_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Coming Soon Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "range",
                "id": "coming_soon_text_order_desktop",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "Coming Soon Text Order Desktop",
                "default": 1
            },
            {
                "type": "range",
                "id": "coming_soon_text_order_mobile",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "Coming Soon Text Order Mobile",
                "default": 1
            },
            {
                "type": "text",
                "id": "coming_soon_text_margin_bottom_desktop",
                "label": "Coming Soon Text Margin Bottom Desktop",
                "default": "24px"
            },
            {
                "type": "text",
                "id": "coming_soon_text_margin_bottom_mobile",
                "label": "Coming Soon Text Margin Bottom Mobile",
                "default": "16px"
            },
            {
                "type": "richtext",
                "id": "promo_text",
                "label": "Promo Text",
                "default": "<p>FIRST 50 TO SIGN UP GET <b>10% OFF</b> TICKET PRICE!</p>"
            },
            {
                "type": "color",
                "id": "promo_text_color",
                "label": "Promo Text Color",
                "default": "#ffffff"
            },
            {
                "type": "font_picker",
                "id": "promo_text_font",
                "label": "Promo Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "promo_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Promo Text Font Weight",
                "default": 400
            },
            {
                "type": "range",
                "id": "promo_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Promo Text Font Size",
                "default": 16
            },
            {
                "type": "range",
                "id": "promo_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Promo Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "range",
                "id": "promo_text_order_desktop",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "Promo Text Order Desktop",
                "default": 2
            },
            {
                "type": "range",
                "id": "promo_text_order_mobile",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "Promo Text Order Mobile",
                "default": 2
            },
            {
                "type": "text",
                "id": "promo_text_margin_bottom_desktop",
                "label": "Promo Text Margin Bottom Desktop",
                "default": "24px"
            },
            {
                "type": "text",
                "id": "promo_text_margin_bottom_mobile",
                "label": "Promo Text Margin Bottom Mobile",
                "default": "16px"
            },
            {
                "type": "richtext",
                "id": "cta_1_text",
                "label": "CTA 1 Text",
                "default": "<p>HOST SALON <b>INFO</b></p>"
            },
            {
                "type": "url",
                "id": "cta_1_link",
                "label": "CTA 1 Link"
            },
            {
                "type": "color",
                "id": "cta_1_text_color",
                "label": "CTA 1 Text Color",
                "default": "#000000"
            },
            {
                "type": "color",
                "id": "cta_1_background_color",
                "label": "CTA 1 Background Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "cta_1_hover_background_color",
                "label": "CTA 1 Hover Background Color",
                "default": "#f0f0f0"
            },
            {
                "type": "font_picker",
                "id": "cta_1_text_font",
                "label": "CTA 1 Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "cta_1_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "CTA 1 Text Font Weight",
                "default": 600
            },
            {
                "type": "range",
                "id": "cta_1_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA 1 Text Font Size",
                "default": 16
            },
            {
                "type": "range",
                "id": "cta_1_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA 1 Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "richtext",
                "id": "cta_2_text",
                "label": "CTA 2 Text",
                "default": "<p>STYLISH <b>SIGN UP</b></p>"
            },
            {
                "type": "url",
                "id": "cta_2_link",
                "label": "CTA 2 Link"
            },
            {
                "type": "color",
                "id": "cta_2_text_color",
                "label": "CTA 2 Text Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "cta_2_background_color",
                "label": "CTA 2 Background Color",
                "default": "#fa0000"
            },
            {
                "type": "color",
                "id": "cta_2_hover_background_color",
                "label": "CTA 2 Hover Background Color",
                "default": "#960202"
            },
            {
                "type": "font_picker",
                "id": "cta_2_text_font",
                "label": "CTA 2 Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "cta_2_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "CTA 2 Text Font Weight",
                "default": 400
            },
            {
                "type": "range",
                "id": "cta_2_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA 2 Text Font Size",
                "default": 16
            },
            {
                "type": "range",
                "id": "cta_2_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "CTA 2 Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "range",
                "id": "cta_block_order_desktop",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "CTA Block Order Desktop",
                "default": 3
            },
            {
                "type": "range",
                "id": "cta_block_order_mobile",
                "min": 1,
                "max": 3,
                "step": 1,
                "label": "CTA Block Order Mobile",
                "default": 3
            },
            {
                "type": "text",
                "id": "cta_block_margin_bottom_desktop",
                "label": "CTA Block Margin Bottom Desktop",
                "default": "24px"
            },
            {
                "type": "text",
                "id": "cta_block_margin_bottom_mobile",
                "label": "CTA Block Margin Bottom Mobile",
                "default": "16px"
            },
            {
                "type": "richtext",
                "id": "collapsed_section_text",
                "label": "Collapsed Section Text",
                "default": "<p>LEARN MORE. <b>EARN MORE.</b> CREATE MORE.</p>"
            },
            {
                "type": "color",
                "id": "collapsed_section_text_color",
                "label": "Collapsed Section Text Color",
                "default": "#ffffff"
            },
            {
                "type": "font_picker",
                "id": "collapsed_section_text_font",
                "label": "Collapsed Section Text Font",
                "default": "poppins_n4"
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Collapsed Section Text Font Weight",
                "default": 400
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_size",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Collapsed Section Text Font Size",
                "default": 20
            },
            {
                "type": "range",
                "id": "collapsed_section_text_font_size_mobile",
                "min": 2,
                "max": 200,
                "step": 2,
                "unit": "px",
                "label": "Collapsed Section Text Font Size Mobile",
                "default": 16
            },
            {
                "type": "range",
                "id": "bold_font_weight",
                "min": 100,
                "max": 900,
                "step": 100,
                "label": "Bold Font Weight",
                "default": 900
            }
        ],
        "presets": [
            {
                "category": "Promo",
                "name": "Promo Banner"
            }
        ]
    }
{% endschema %}
